alias ez='nvim ~/.zshrc'
alias copypub='cat ~/.ssh/id_ed25519.pub | pbcopy'

# IP addresses
alias ip="curl https://ipinfo.io/ip"
alias localip="ipconfig getifaddr en0"
alias torip='curl --socks5 localhost:9050 https://check.torproject.org |& grep "Your IP address" | grep -Eo "(\d|\.)+"'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Run Rails commands inside Docker
alias docked='docker run --rm -it -v ${PWD}:/rails -v ruby-bundle-cache:/bundle --network host -p 3000:3000 ghcr.io/rails/cli'

alias set_openrouter_key='export OPENROUTER_API_KEY=$(bw get password --nointeraction OPENROUTER_API_KEY 2>/dev/null)'
